body {
  font-size: 16px;
  color: white;
  background-color: #808080;
  font-family: 'Oxygen', sans-serif;
}

#nav {
  background-color: #484848;
  border-radius: 0;
  border: 0;
}

.navbar-header {
  position: relative;
}

#logo {
  background: url("../images/chachu.jpg") no-repeat;
  height: 140px;
  width: 140px;
  margin: 10px 5px 10px 0px;
  border-radius: 30%;
  position: relative;
  right: 30%;
}

#mhrd {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar-brand {
  margin-left: 50px;
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.75em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75em;
}

.navbar-brand p {
  color: #000;
  font-size: .75em;
  margin-top: 15px;
  text-transform: uppercase;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-bottom: 10px;
}

#nav-list a {
  color: #000000;
  text-align: center;
}

#nav-list a:hover {
  background-color: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a {
  /*phone number*/
  text-align: right;
  padding-bottom: 0px;
}

#phone div {
  /*we deliver*/
  color: #000000;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}

.navbar-header button.navbar-toggle {
  clear: both;
}

/*END OF HEADER*/
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address {
  line-height: 2;
}

#hours>span, #address>span {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

/* END OF FOOTER */
/*HOMEPAGE*/
.container .jumbotron {
  margin-top: 30px;
  padding: 0px;
  box-shadow: 0 0 50px #000000;
  border: 2px solid #000000;
}

#menu_tile, #specials_tile, #map_tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #000000;
  overflow: hidden;
}

#menu_tile:hover, #specials_tile:hover, #map_tile:hover {
  box-shadow: 0 1px 5px 1px #000000;
}

#menu_tile {
  background: url('../images/menu_h_250.jpg') no-repeat;
  background-position: center;
}

#specials_tile {
  background: url('../images/specials_h_350.jpg') no-repeat;
  background-position: center;
}

#menu_tile span, #specials_tile span, #map_tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

/* MENU-CATEGORIES PAGE */
.category-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  ;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
/* END MENU-CATEGORIES-PAGE */

/* SINGLE-CATEGORY-PAGE */
.menu-item-tile{
  margin-bottom: 25px;
}
.menu-item-tile hr{
  width: 80%;
}
#menu-categories-title + div {
    margin-bottom: 50px;
    color: #000080;
}
#menu-categories-title{
  color: #000;
}
.menu-item-tile .menu-item-price{
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-price{
  color: #FFD700;
}
.menu-item-photo{
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 200px;
}
.menu-item-description{
  padding-right: 30px;
  color: black;
}
h3.menu-item-title{
  margin: 0 0 10px;
  color: #800000;
}
.menu-item-details{
  font-size:.9em;
  font-style: italic;
}

/*large-devices only*/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 1800px;
  }
}

/*medium-devices only*/
@media (min-width: 992px) and (max-width: 1199px) {

  /*header*/
  #logo {
    background: url("../images/chachu.jpg") no-repeat;
    height: 96px;
    width: 96px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 1488px;
  }
}

/*small-devices only*/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 1152px;
  }
}

/*extra-small-devices only*/
@media (max-width: 767px) {

  /*#mhrd {
    background: url("mhrd.jpg") no-repeat;
    height: 35px;
    width: 35px;
    border-radius: 50%;

  }*/
  /* HEADER */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 7vw;
  }

  .navbar-brand p {
    font-size: 0.6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    height: 20px;
  }

  #menu_tile, #specials_tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  #collapsable-nav a {
    text-align: center;
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn>a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #404040;
    color: #000000;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  /* END OF HEADER */
  /* FOOTER */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }

  .panel-footer section hr {
    width: 50%;
  }
  .menu-item-photo{
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price{
    text-align: center;
  }
  .menu-item-description{
    text-align: center;
  }

/*FOR SUPER EXTRA SMALL DEVICES*/
@media (max-width: 479px) {
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }

  #menu_tile, #specials_tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
